<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="settings">
  <ion-content class="padding">
   <ion-checkbox ng-model="isChecked">html 5</ion-checkbox>
   <ion-checkbox ng-model="isChecked">javascript</ion-checkbox>
  
  </ion-content>
</ion-view>
