
<ion-view >
  <ion-content class="padding"  on-tap="ourFatherTap()">
    <div class="card card-gospel center">
        <div class="gospel-image">
          <img src="images/gospelIcon.png" />
        </div>
        <h2 class="title title-rosary">Hail Mary</h2>
        <div class="rosary-container" on-tap="tap()" >
          <div class="rosary"> 
            <div class='circle-container' style="transform:rotate({{rotation}}deg)">
              <a href='#' class='center'><img src='http://placehold.it/40x40'></a>
              <a href='#' class='deg0'><img src='http://placehold.it/40x40'></a>
              <a href='#' class='deg36'><img src='http://placehold.it/40x40'></a>
              <a href='#' class='deg72'><img src='http://placehold.it/40x40'></a>
              <a href='#' class='deg108'><img src='http://placehold.it/40x40'></a>
              <a href='#' class='deg144'><img src='http://placehold.it/40x40'></a>
              <a href='#' class='deg180'><img src='http://placehold.it/40x40'></a>
              <a href='#' class='deg216'><img src='http://placehold.it/40x40'></a>
              <a href='#' class='deg252'><img src='http://placehold.it/40x40'></a>
              <a href='#' class='deg288'><img src='http://placehold.it/40x40'></a>
              <a href='#' class='deg324'><img src='http://placehold.it/40x40'></a>
              <a href='#' class='deg360'><img src='http://placehold.it/40x40'></a>
            </div>
          </div>
          <div class="rosary-blocker"></div> 
          <div class="number">
            <h4>{{reps}} times</h4>
          </div>
        </div>
        <p class="padding">Hail Mary, full of grace.
        Our Lord is with thee.
        Blessed art thou among women,
        and blessed is the fruit of thy womb,
        Jesus.
        </p>
        <p class="padding">
        Holy Mary, Mother of God,
        pray for us sinners,
        now and at the hour of our death.
        Amen.
        </p>
    </div>
  </ion-content>

  
</ion-view>
