
<ion-view view-title="Our lady of Perpetual Help">
  
  <ion-content class="content-timings">
      <div class="timing-background">
          <img src="images/perpetual_help.jpg" alt="" />
          <div class="timing-cover"></div>
      </div> 
      <div class="content padding">
        <div class="card padding">
          <h4 class="center item">1.COME HOLY GHOST</h4>

          <p>(Kneel)</p>

          <p>Come, Holy Ghost, Creator blest,</p>

          <p>And in our Souls take up Thy rest,</p>

          <p>Come with Thy grace and heavenly aid</p>

          <p>To fill the hearts which Thou hast made.</p>

          <p>V. Send forth Thy Spirit and they shall be created;</p>

          <p>R. And Thou shalt renew the face of the earth.</p>

          <p>LET US PRAY</p>

          <p>O God , who didst teach the hearts of Thy faithful people by sending them the light of the Holy Spirit, grant us by the same Spirit, to have a right judgement in all things, and evermore to rejoice in his holy comfort, through Christ Our Lord, Amen</p>
        </div>
        <div class="card padding">
          <h4 class="center">2. AN ACT OF CONTRITION</h4>

          <p>(Here, O God is my sacrifice, a broken spirit; a heart that is humbled and contrite, thou O God, will never disdain; ps 50:19)</p>

          <p>My God, I believe in Thee.* I hope in thee .* I love Thee above all things.* With all my Soul,* With all my heart ,* and with all my strength ; * I love Thee because thou are infinitely good * And worthy of being loved * and because I love Thee,* I repent with all my heart * Of having offended Thee; * have mercy on me a sinner. Amen</p>
        </div>
        <div class="card padding">
          <h4 class="center">3. FOR THE INTENTIONS OF THE HOLY FATHER</h4>

          <p>THE OUR FATHER</p>

          <p>Our Father, who art in heaven, hallowed be thy Name, Thy Kingdom come, Thy will be done on earth, as it is in heaven. Give us this day our daily bread, and forgive us our trespasses , as we forgive those who trespass against us, and lead us not into temptation, but deliver us from evil. Amen</p>

          <p>THE HAIL MARY</p>

          <p>Hail Mary, full of grace, the Lord is with thee Blessed art thou amongst women, and blessed is the fruit of thy womb, JESUS , Holy Mary Mother of God, pray for us sinners, now and at the hour of our death. Amen</p>

          <p>THE GLORY BE TO THE FATHER</p>

          <p>Glory be to the Father, and to the Son and to the Holy spirit.</p>

          <p>As it was in the beginning , is now and ever shall be world without end . Amen</p>
        </div>
        <div class="card padding">
          <h4 class="center">4. INVOCATIONS TO OUR LADY</h4>

          <p>We fly to thy patronage, O Holy Mother of God. Despise not our petitions in our necessities. But ever deliver us from all dangers O glorious and blessed Virgin.</p>

          <p>Priest : O Mother of Perpetual Succour, thou whose very name inspires confidence.</p>

          <p>People : Help me, O loving Mother.</p>

          <p>Pr. : That I may love and serve God with all my heart.</p>

          <p>Pe. : Help me, O loving mother</p>

          <p>Pr. : That I may never neglect prayer</p>

          <p>Pe. : Help me, O loving Mother.</p>

          <p>Pr. : In temptations against the holy vitue of purity</p>

          <p>Pe. : Help me, O loving Mother.</p>

          <p>Pr. : That I may quickly rise again should I have the misfortune to fall into sin.</p>

          <p>Pe. : Help me, O loving Mother</p>

          <p>Pr. : That I may courageously resist the seductions of the world, evil companions, bad books and films</p>

          <p>Pe. : Help me, O loving Mother.</p>

          <p>Pr. : That I may often and devoutly receive the Sacraments and fulfil my Christian duties and the duties of my state.</p>

          <p>Pe. : Help me, O loving Mother.</p>

          <p>Pr. : That I may be patient and resigned in all trials and troubles of life</p>

          <p>Pe. : Help me, O loving Mother.</p>

          <p>Pr. : In sickness and pain, in poverty and distress</p>

          <p>Pe. : Help me, O loving Mother.</p>

          <p>Pr. : That I may not delay my conversion from day to day</p>

          <p>Pe. : Help me, O loving Mother.</p>

          <p>Pr. : That I may ever love and serve thee and invoke thy assistance</p>

          <p>Pe. : Help me, O loving Mother.</p>

          <p>Pr. : That I may be able to lead others to love serve and pray to thee</p>

          <p>Pe. : Help me, O loving Mother.</p>

          <p>Pr. : When death is near and I am about to pass into eternity.</p>

          <p>Pe. : Help me, O loving Mother.</p>

          <p>Pr. : To my last hour, to my last breath do thou watch over me.</p>

          <p>Pe. : Help me, O loving Mother.</p>

          <p>Pr. : Pray for us O Mother of Perpetual Succour</p>

          <p>Pe. : Help me, O loving Mother.</p>

          <p>LET US PRAY</p>

          <p>O Almighty and merciful God * Who in order to assist the human race * Has willed the blessed virgin Mary * To become the Mother of Thy only-begotten Son * Grant we beseech Thee * That by her intercession * We may avoid the contagion of sin * And serve Thee with a pure heart * Through the same Christ Our Lord * Amen</p>
        </div>
        <div class="card padding">
          <h4 class="center">5. SUMMARY OF PETITIONS &</h4>

          <p class="center"><b>THANKSGIVINGS</b></p>
        </div>
        <div class="card padding">
          <h4 class="center">6. NOVENA PRAYERS</h4>

          <p>O Mother of Perpetual Succour * Behold me a miserable sinner at thy feet * I have recourse to thee and put my trust in thee * O Mother of Mercy, have pity upon me * I hear thee called by all * The refuge and the hope of sinners; * be then my refuge and my hope * Succour me for the love of Jesus Christ *; Stretch forth thy hand to me, * a poor sinner, * who recommend and dedicate myself to thee * As thy perpetual servant * I bless and thank God for having in His Mercy given me this confidence in Thee * the pledge , as I believe of my eternal salvation*</p>

          <p>Alas, too often in past times have I miserably fallen * Because I had not recourse to thee * I know that with thy help I shall conquer * I know that thou will help me * If I recommend myself to thee * But I fear lest in the occasion of failing * I should cease to call upon thee * And so should lose my soul * This then is the grace I seek from thee, * and I beg of thee, as far as I know how and can, * to obtain it for me * namely, in the assaults of hell,* always to have recourse to thee and to say to thee; * O mary help me * Mother of Perpetual Succour, * Suffer me not to lose my God * Amen.</p>

          <p>Priest : Mother of Perpetual Succour</p>

          <p>People : Pray for thy Children.</p>

          <p>Hail Mary..........<br/>(Repeat three times)</p>

          

          <p>Holy Mary, * Succour the miserable, help the faint hearted * Cheer those that weep, *Pray for the people ,* be the advocate of the clergy, * Intercede for all devout women, * Let all feel thine aid,* Who implore thy perpetual succour.</p>

          <p>Priest : Thou has been made for us O Lady, a Refuge.</p>

          <p>People : A helper in need and tribulation.</p>

          <p>LET US PRAY</p>

          <p>O Lord Jesus Christ,* Who hast given us Thy Mother Mary, * Whose wondrous image we venerate, * To our Mother ,* Ever ready to succour us,* grant , we beseech Thee,* That we, who earnestly implore her maternal aid, * May deserve to enjoy perpetually the fruit of thy redemption * Who lives and reigns world without end. Amen.</p>
        </div>
        <div class="card padding">
          <h4 class="center">7. HYMN - MOTHER DEAR OH PRAY FOR ME</h4>

         <p>Mother dear, Oh, pray for me

          Whilst far from Heaven and Thee,

          I wander in a fragile bark

          O'er life's tempestuous sea.</p>

          <p>O Virgin Mother , from thy throne.

          So bright in bliss above,

          Protect Thy child, and cheer my path,

          With Thy Sweet smile of love.</p>

          <p>Chorus:</p>

          <p>Mother dear, Oh pray for me

          And never cease Thy care;

          Till in heaven eternally,

          Thy love and bliss I share.</p>

          <p>SILENT PRAYER</p>
        </div>
        <div class="card padding">
          <h4 class="center">8. THE MEMORARE</h4>

          <p>Remember, O Most gracious Virgin Mary, * That never was it known,* That anyone who fleld to thy protection, implored thy help * Or sought thy intercession,* was left unaided * Inspired with this confidence,* I fly to thee, O vigin of Virgins, my Mother * To thee I come , * before thee I stand, * sinful and sorrowful, * O Mother of the world Incarnate * Despise not my petitions, * but in thy mercy hear and answer me. Amen</p>
        </div>
        <div class="card padding">
          <h4 class="center">9. EXPOSITION AND PRAYER BEFORE THE BLESSED SACRAMENT</h4>

         <p>Merciful lord whose mercies are without number and whose goodness is Without end you Abide with your people in wondrous manner and are with us all days even to the end of time. By your kindly presence direct our minds, With your guiding love watch over our paths, With your powerful help deliver us from every tribulation From all danger and sin That we may on earth always live With you and in you And in your eternal dwelling Enjoy your presence for ever Amen.</p>
        </div>
        <div class="card padding">
          <h4 class="center">10. BLESSING OF THE SICK</h4>

          <p>V. Our help is in the Name of the Lord</p>

          <p>R. Who made heaven and earth</p>

          <p>V. Lord, hear my prayer</p>

          <p>R. And let my cry come unto Thee.</p>

         <p> V. Thy Lord be with you.</p>

         <p> R. And with you also.</p>

          <p>LET US PRAY</p>

          <p>Grant , we beseech Thee, O Lord God that these Thy servants may enjoy perpetual health of mind and body; and by the glorious intercession of Blessed Mary, ever Virgin, be delivered from present sorrow and enjoy eternal gladness Through Christ our Lord. Amen</p>

          <p>( Extending his right hand towards the people)</p>

          <p>May the Lord Jesus Christ be amongst you, to defend you * Within you, to preserve you * Before you , to guide you * After you, to guard you * Above you to bless you * who with the Father and the holy Spirit lives and reigns for ever and ever. Amen</p>

          <p>Through the intercession of our Mother of Perpetual Succour may the blessing of Almighty God, + Father, Son , and Holy Spirit , descend upon you and remain with you forever. Amen.</p>
        </div>
        <div class="card padding">
          <h4 class="center">11. MARY FROM THY SACRED IMAGE</h4>

          <p>Mary, from thy sacred image,

          With those eyes so sadly sweet,

          Mother of perpetual Succour!

          See us kneeling at thy feet.</p>

          <p>In thy arms thy Child thou bearest

          Source of all thy joy and woe;

          What thy bliss, how deep thy sorrows,

          Mother , thou alone canst know</p>
        </div>
        <div class="card padding">
          <h4 class="center">12. BENEDICTION OF THE BLESSED SACRAMENT</h4>

          <p>Let us bow in adoration,

          To this Sacrament so great

          Here is new and perfect worship,

          All the old must terminate,

          Senses cannot grasp this marvel,

          Faith must serve to compensate.</p>

          <p>Glory, Honour, Adoration.</p>

          <p>Let us sing with one accord,

          Praised be God, almighty Father,

          Praised be Christ, His Son our Lord,

          Praised be God the Holy spirit,

          Triune God-head be Adored . Amen</p>

          <p>Priest : Let us Pray : O God in this wonderful Sacrament you have left us the memorial of your passion grant that we may so reverence the sacred Mysteries of your body and Blood, that the taste of the fruit of your redemption may ever be within us, who lives and reigns for ever and ever.</p>

          <p>People : Amen.</p>

          <p>THE DIVINE PRAISES</p>

          <p>Blessed be God</p>

          <p>Blessed be His Holy Name</p>

          <p>Blessed be Jesus Christ, true God and true Man</p>

          <p>Blessed be the Name of Jesus</p>

          <p>Blessed be His most Sacred Heart</p>

          <p>Blessed be His Most Precious Blood</p>

          <p>Blessed be Jesus in the Most Holy Sacrement of the Altar</p>

          <p>Blessed be the Holy Spirit, the Paraclete</p>

          <p>Blessed be the great Mother of God, Mary most Holy</p>

          <p>Blessed be her Holy and Immaculate Conception</p>

          <p>Blesssed be Her Glorious Assumption</p>

          <p>Blessed be the Name of Mary, Virgin and Mother</p>

          <p>Blessed be St. Joseph, her most chaste Spouse</p>

          <p>Blessed be God in His Angels and in His Saints.</p>
        </div>
        <div class="card padding">
          <h4 class="center">13. MOTHER DEAREST, MOTEHR FAIREST</h4>

          1. Mother dearest, Mother Fairest,

          Help of all who call on Thee,

          Virgin Purest, brightest, rarest

          Help us, help we cry to thee

          Chorus

          Mary, Help us, help we pray

          Mary, Help us, help we pray

          Help us in all care and sorrow,

          Mary, Help us, help we pray

          2. Mary, help in pain and sorrow

          Soothe those rack'd on bed of pain

          May the golden light of morrow

          Bring them health and joy again.

          Chorus:

          3. Help our priests, our Sisters lowly,

          Help our Pope, long may he reign,

          Pray that we who sing their praises

          May in Heav'n all meet again.

          Chorus:

          4. Mary, help the absent loved ones;

          How we miss their presence here,

          May the hand of Thy protection,

          Guard and guide them far and near.

          Chorus:

          OCCASIONAL PRAYERS

          (For Personal use only)

          THE SIGN OF THE CROSS 
        </div>  
      </div>  
  </ion-content>
</ion-view>

