
<ion-view >
  <ion-content scroll="true" class="padding">
    <div class="card card-gospel center" on-tap="ourFatherTap()">
        <div class="gospel-image">
          <img src="images/gospelIcon.png" />
        </div>
        <h2 class="title">Our Father</h2>
        <p class="padding">Our Father, Who art in Heaven, hallowed be Thy name; Thy Kingdom come, Thy will be done on earth as it is in Heaven.</p>
        <p class="padding">Give us this day our daily bread; and forgive us our trespasses as we forgive those who trespass against us; and lead us not into temptation, but deliver us from evil. Amen.</p>
    </div>
  </ion-content>
</ion-view>
